// CSS Variables

// themes
body {
    &.dark {
        --color-background: #{map-deep-get($theme, 'dark', 'background')};
        --color-background--light: #{map-deep-get($theme, 'dark', 'background--light')};
        --color-background--lighten: #{map-deep-get($theme, 'dark', 'background--lighten')};
        --color-background--lighten-alpha: #{rgba(
            map-deep-get($theme, 'dark', 'background--lighten'),
            0.3
        )};
        --color-background--secondary: #{map-deep-get($theme, 'dark', 'background--secondary')};
        --color-text: #{map-deep-get($theme, 'dark', 'text')};
        --color-text--light: #{map-deep-get($theme, 'dark', 'text--light')};
        --color-box-shadow: #{map-deep-get($theme, 'dark', 'box-shadow')};
        --color-box-shadow-alpha: #{rgba(map-deep-get($theme, 'dark', 'box-shadow'), 0.16)};
        --color-control--secondary: #{map-deep-get($theme, 'dark', 'control--secondary')};
        --color-border: #{map-deep-get($theme, 'dark', 'border')};
    }
    --color-background: #{map-deep-get($theme, 'light', 'background')};
    --color-background--light: #{map-deep-get($theme, 'light', 'background--light')};
    --color-background--lighten: #{map-deep-get($theme, 'light', 'background--lighten')};
    --color-background--lighten-alpha: #{rgba(
        map-deep-get($theme, 'light', 'background--lighten'),
        0.3
    )};
    --color-background--secondary: #{map-deep-get($theme, 'light', 'background--secondary')};
    --color-text: #{map-deep-get($theme, 'light', 'text')};
    --color-text--light: #{map-deep-get($theme, 'light', 'text--light')};
    --color-box-shadow: #{map-deep-get($theme, 'light', 'box-shadow')};
    --color-box-shadow-alpha: #{rgba(map-deep-get($theme, 'light', 'box-shadow'), 0.16)};
    --color-control--secondary: #{map-deep-get($theme, 'light', 'control--secondary')};
    --color-border: #{map-deep-get($theme, 'light', 'border')};
}
